.logo{
    width: 55px;
    height: 50px;
    display: block;
    margin:auto;

}
body{ 
   height: 100vh;
  background-image: linear-gradient(rgb(255,255,255),rgb(203, 28, 203));
}

.container{
  border: 2px solid black;
  max-width: 955px; 
  margin: auto;
  height:60vh; 
  padding: 33px;
  overflow-y: auto;
  margin-bottom: 20px;
} 

#send_container{ 
text-align: center;
max-width: 985px;
width: 100%; 
display: block;
margin: auto;
}
.message{
   background-color: aquamarine;
    width: 24%;
    padding: 17px;
    margin: 18px 22px; 
    border: 2px solid black;
    border-radius: 5px;
} 
#messageinp{
    width:852px;
    border: 2px solid black;
    border-radius: 7px;
    padding: 7px;
    height: 23px;
}
.right{
  float: right; 
  clear: both;
}
.left{
   float: left;
   clear: both;
} 
.btn{
    padding: 7px;
    margin: 7px 9px;
    border-radius: 7px;
    height: 30px;
    width: 65px;
    cursor: pointer;
}
